.DS_Store
.git
.vscode
.*ignore
.env
docker-compose*.yml
build
markdown
Dockerfile*
**/*_test.go
Makefile
*.md
coverage.out
.env-local

**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal

assistant-*

obsidian
audit